# Ignore globally

Makefile
Makefile.in
.*.swp
*~

# Ignore just in the toplevel dir

/download
/download.list
/build/
/stamp/

# autotools stuff

/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/intltool-extract
/intltool-merge
/intltool-update
/missing
