[Misc]
ServerTimeout=4500
StopOnSyntaxError=0
CurrentProfile=_profile_Novell OOo-2.0

[Path]
BaseDir=
LogBaseDir=
HIDDir=

[GUI Platform]
Current=03
All=03

[WinGeom]
WinParams=4,25,1272,944;53;4,25,1272,944;

[_profile_Novell OOo-2.0]
LogBaseDir=/home/pmladek/OOo/qa/logs
BaseDir=/home/pmladek/OOo/qa/qatesttool
HIDDir=/home/pmladek/OOo/qa/qatesttool/global/hid
AutoReload=0
AutoSave=0
StopOnSyntaxError=0

[OOoProgramDir]
Current=/usr/lib/ooo-2.0

[Crashreporter]
UseProxy=false
ProxyServer=
ProxyPort=
AllowContact=false
ReturnAddress=

[Communication]
Host=localhost
TTPort=12479
UnoPort=65535

[LRU]
MaxLRU=4

