[Desktop Entry]
Name=Spreadsheet (1.1)
Name[de]=Tabellendokument (1.1)
Comment=OpenOffice.org spreadsheet
Comment[de]=OpenOffice.org Tabellendokument
TryExec=oocalc1.1
Exec=oocalc1.1
Icon=ximian-openoffice-calc.png
Terminal=false
Type=Application
Categories=GNOME;Application;Office;Finance;X-Ximian-Main;
X-GNOME-Bugzilla-Bugzilla=Ximian
X-GNOME-Bugzilla-Product=OpenOffice.org Ximian Edition
StartupNotify=true
